<div class="background-container">
    <canvas id="canvas-dots" class="animated-canvas"></canvas>
</div>

<style>
    .background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
    }

    .animated-canvas {
        display: block;
        width: 100%;
        height: 100%;
    }
</style>

<script>
    (function () {
        let canvas = document.getElementById('canvas-dots'),
            ctx = canvas.getContext('2d'),
            w = canvas.width = window.innerWidth,
            h = canvas.height = window.innerHeight,
            particles = [],
            particleCount = 50,
            mouse = {
                x: 0,
                y: 0,
            };

        function setup() {
            particles = [];
            for (var i = 0; i < particleCount; i++) {
                particles.push(new Particle());
            }
        }

        function Particle() {
            this.x = Math.random() * w;
            this.y = Math.random() * h;
            this.vx = (Math.random() - 0.5) * 0.5;
            this.vy = (Math.random() - 0.5) * 0.5;
            this.radius = Math.random() * 2;
        }

        Particle.prototype.draw = function () {
            ctx.beginPath();
            ctx.fillStyle = 'rgba(57, 255, 20, 0.5)'; // Neon Green
            ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2);
            ctx.fill();
            ctx.closePath();
        }

        Particle.prototype.update = function () {
            this.x += this.vx;
            this.y += this.vy;

            if (this.x < 0 || this.x > w) this.vx = -this.vx;
            if (this.y < 0 || this.y > h) this.vy = -this.vy;
        }

        function draw() {
            ctx.clearRect(0, 0, w, h);
            for (var i = 0; i < particleCount; i++) {
                particles[i].draw();
                particles[i].update();
            }
            requestAnimationFrame(draw);
        }

        document.addEventListener('mousemove', function (e) {
            mouse.x = e.clientX;
            mouse.y = e.clientY;
        });

        setup();
        draw();
    })();
</script>